.container {
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
    text-align: center;
    align-items: center;
}

.todo__box {
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo__heading {
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: rgba(175, 47, 47, 0.15);
    cursor: pointer;
}

.todo__form {
    display: flex;
}

.todo__add-input {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    max-width: 340px;
    width: 100%;
    padding: 14px;
    border: 0.5px solid rgb(202, 200, 200);
    
}

.todo__btn {
    max-width: 60px;
    width: 100%;
    border: 0.5px solid rgb(202, 200, 200);
    cursor: pointer;
    
}

.todos {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.todo {
    display: flex;
    column-gap: 20px;
    margin: 0;
    padding: 10px;
    border: 0.5px solid rgb(202, 200, 200);
}


.todo__check-input {
    max-width: 15px;
    width: 100%;
    height: 15px;
    background-color: #fff;
    cursor: pointer;
}

.todo__title {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    max-width: 200px;
    width: 100%;
    padding: 2px;
    text-align: left;
    overflow: hidden;
}

.todo__delete-btn {
    margin-left: auto;
    background-color: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgba(175, 47, 47, 0.15);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
    border: 0.5px solid rgb(202, 200, 200);
}


.button-all {
    color: grey;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    
}

.button-all:active {
    border-color: rgba(175, 47, 47, 0.2);
}

.button-completed {
    color: grey;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    
}

.button-completed:active {
    border-color: rgba(175, 47, 47, 0.2);
}

.button-uncompleted {
    color: grey;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    
}

.button-uncompleted:active {
    border-color: rgba(175, 47, 47, 0.2);
}

.button-clear {
    color: grey;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    
}

.button-clear:active {
    border-color: rgba(175, 47, 47, 0.2);
}

/* Modal */

.btn-modal {
    color: grey;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.btn-modal:active {
    border-color: rgba(175, 47, 47, 0.2);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal--open {
    display: flex;
}

.modal__inner {
    background-color: #fff;
    width: 500px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    cursor: pointer;
    
}

.modal__close-btn {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
}


